<ion-view hide-nav-bar="true">
    <ion-slide-box>
        <ion-slide>
            <img src="images/slide1.jpg" ng-style="{width:getWidth(),height:getHeight()}">
        </ion-slide>
        <ion-slide>
            <img src="images/slide2.jpg" ng-style="{width:getWidth(),height:getHeight()}">
        </ion-slide>
        <ion-slide>
            <img src="images/slide3.jpg" ng-style="{width:getWidth(),height:getHeight()}">
            <button id="enterBtn" class="button button-outline button-balanced" ui-sref="interestClassList">进入</button>
        </ion-slide>
    </ion-slide-box>
</ion-view>